<!--Not my code. Taken from https://simpleisbetterthancomplex.com/-->
{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="text-center logo my-4">
      <a>Interactive Pocket College</a>
    </h1>
    <h2 class="text-center logo my-4">
      <a>Engaging Learners For Better</a>
    </h2>
    {% block content %}
    {% endblock %}
  </div>
{% endblock %}
