{% extends 'cal_base.html' %}

{% block title %}
Calendar
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Post Result</li>
{% endblock %}

{% block content %}
<div class="clearfix">
	<a class="btn btn-info left" href="{% url 'calendar' course_id=course_id %}?{{ context.prev_month }}"> Previous Month </a>
	<a class="btn btn-info right" href="{% url 'calendar' course_id=course_id %}?{{ context.next_month }}"> Next Month </a>
	<a class="btn btn-info right" href="{% url 'course_event_new' course_id=course_id %}"> New Event </a>
</div>

{{ context.calendar }}
{% endblock %}
