{% extends 'base_home.html' %}

{% block title %}
  IPC
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">IPC</li>
{% endblock %}

{% block content %}
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Course Name</th>
        <th>Course Code</th>
        <th>Institution</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for course in courses %}
        <tr>
          <td>{{ course.courseName }}</td>
          <td>{{ course.courseCode }}</td>
          <td>{{ course.courseInstitution }}</td>
          <td><a class="btn btn-primary" href="{% url 'course_statistic' course_id=course.id %}">Select</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
