{% extends 'base_class.html' %}

{% block title %}Edit discussion{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'course' %}">IPC</a></li>
  <li class="breadcrumb-item"><a href="{% url 'course_material' discussion.discussionCourse.pk %}">Materials</a></li>
  <li class="breadcrumb-item"><a href="{% url 'material_discussion' discussion.discussionCourse.pk discussion.discussionMaterial.pk %}">Discussions</a></li>
  <li class="breadcrumb-item active">edit a Discussion</li>
{% endblock %}

{% block content %}
  <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Save changes</button>
    <a href="{% url 'material_discussion' discussion.discussionCourse.pk discussion.discussionMaterial.pk %}" class="btn btn-outline-secondary" role="button">Cancel</a>
  </form>
{% endblock %}
