{% extends 'base.html' %}

{% block title %}
  Material
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'course' %}">IPC</a></li>
  <li class="breadcrumb-item active">Material</li>
{% endblock %}

{% block content %}
  {% if user_type == "teacher" %}
    <div class="mb-4">
      <a class="btn btn-primary" href="{% url 'post_course_material' course_id=course_id %}">Post Material</a>
    </div>
  {% endif %}
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Material title</th>
        <th>Material description</th>
        <th>Material poster</th>
        <th>Material posted time</th>
        <th>Material download</th>
        <th>Material discussion</th>
      </tr>
    </thead>
    <tbody>
      {% for material in materials %}
        <tr>
          <td>{{ material.materialTitle }}</td>
          <td>{{ material.materialDescription }}</td>
          <td>{{ material.materialPosterId }}</td>
          <td>{{ material.materialUploadTime }}</td>
          <td><a class="btn btn-primary" href="/media/{{material.materialDocument}}" style="text-decoration:None">Download here</a></td>
          <td><a class="btn btn-primary" href="{% url 'material_discussion' course_id=course_id material_id=material.id  %}">Discussion</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
