{% extends 'base.html' %}

{% block title %}
  Statistic
{% endblock %}

{% block breadcrumb %}
  {{block.super}}
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <li class="breadcrumb-item"><a href="{% url 'course' %}">IPC</a></li>
  <li class="breadcrumb-item active">Statistic</li>
{% endblock %}

{% block content %}
  {% if user_type == "student" %}
    <div class="container">
      <div class="row" style="border: 1px solid black">
        {# <div id="plot_container" class="col-md-8 col-md-offset-2">{{plot|safe}}</div>#}
        <div class="col-md-12">{{plot|safe}}</div>
      </div>
    </div>

    <h5><span class="badge badge-primary">Results:</span></h5>
    {% if results %}
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Type</th>
            <th>Subject</th>
            <th>Value</th>
            <th>Result from</th>
            <th>Mark</th>
            <th>Date posted</th>
            <th>Feedback</th>
          </tr>
        </thead>
        <tbody>
          {% for result in results %}
            <tr>
              <td>{{ result.resultType }}</td>
              <td>{{ result.resultSubject }}</td>
              <td>{{ result.resultOverallValue }}%</td>
              <td>{{ result.resultName }}</td>
              <td>{{ result.resultStudentMark }}</td>
              <td>{{ result.resultReturnedDate }}</td>
              <td>{{ result.resultFeedback }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      no new result posted today!<br>
    {% endif %}
    <h5><span class="badge badge-primary">Announcements:</span></h5>
    {% if announcements.all %}
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Date</th>
            <th>Announcement</th>
            <th>Announcement poster</th>
          </tr>
        </thead>
        <tbody>
          {% for announcement in announcements %}
            <tr>
              <td>{{ announcement.announcementDate }}</td>
              <td>{{ announcement.announcementFeed }}</td>
              <td>{{ announcement.announcementPosterId }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      no new announcement posted in the last 7 days!<br>
    {% endif %}
  {% elif user_type == "teacher" %}
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Student Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
          <tr>
            <td>{{ student.username }}</td>
            <td><a class="btn btn-primary" href="{% url 'course_student_statistic' course_id=course_id user_id=student.id %}">Check Details</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
